/* BASE */

/* Responsive */
img, embed, object, video {
  max-width: 100%;
}

/*
  http://www.dave-woods.co.uk/index.php/using-ems-for-font-sizing/
  http://fordinteractive.com/tools/emchart/
*/
body, select, input, textarea {
  font: 0.625em/1.4 arial, verdana, helvetica, sans-serif;
}

section ul {
	margin-left:2em;
}
section ul li {
	list-style: disc outside;
}

/* FRAMES */

aside img {
  box-shadow: 0 0 5px #ccc;
  cursor: pointer;
}

/* SECTIONS */

a.anchor {
  display: block;
  height: 0;
  width: 0;
}

section {
  color: #333;
  margin-bottom: 10px;
}

main section:last-child {
  margin-bottom: 0px;
}

section h1 {
  font-size: 1.8em;
  font-weight: bold;
  padding-top: 0.4em;
  margin-bottom: 0.6em;
}

section h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1.0em;
}

section h3 {
  font-style: italic;
  margin-top: 1.5em;
}

/* section properties list */
section ol li:first-child { font-style: italic; }
section a[target=new] {
  background: url('../img/uparrow.gif') right 3px no-repeat;
  padding-right: 10px
}
