/* css.css */

/* BASE */

/*
  http://www.dave-woods.co.uk/index.php/using-ems-for-font-sizing/
  http://fordinteractive.com/tools/emchart/
*/
body, select, input, textarea {
  font: 0.625em/1.4 arial, verdana, helvetica, sans-serif;
}

section ul {
	margin-left:2em;
}
section ul li {
	list-style: disc outside;
}

/* FRAMES */

/* header bar */
header {
  background: #ddd;
  height: 55px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

/* main h1 */
header h1 {
  font-size: 1.2em;
  font-weight: bold;
  left: 0px;
  margin: 30px 10px 10px 10px;
  padding: 0;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 380px;
}

/* header nav */
header nav {
  background: #eee;
  border-left: 1px solid #000;
  font-size: 1.2em;
  left: 400px;
  padding: 30px 10px 10px;
  position: absolute;
  right: 0px;
  text-transform: uppercase;
  width: auto;
}
header nav a {
  color: #333;
}

/* aside */
aside {
  background: #eee;
  border-top: 1px solid #000;
  bottom: 0;
  left: 0px;
  padding: 10px;
  position: absolute;
  text-align: right;
  top: 55px;
  width: 380px;
}

/* content */
#content {
  background: #fff;
  border-color: #000;
  border-style: solid;
  border-width: 1px 0 0 1px;
  bottom: 0;
  left: 400px;
  right: 0;
  overflow: auto;
  padding: 1em;
  position: fixed;
  top: 55px;
}

/* CONTENT NAV */

/* nav bar */
#content nav {
  background: none;
  height: 1.6em;
  margin-bottom: 3.6em;
  position: relative;
}

/* all nav */
#content nav ul li { cursor: pointer; display: inline; margin-right: 12px; }
#content nav ul li:last-child { margin-right: 0px; }
#content nav ul li.active { background: rgb(245,245,245); }
#content nav ul li.active li { background: none; }
#content nav ul li.active li.active { background: rgb(245,245,245); }
#content nav ul li li:before { content: "<"; }
#content nav ul li li:after { content: ">"; }

/* top nav */
#content nav > ul {
  position: absolute;
  bottom: -1px;
}

/* sub nav */
#content nav ul ul {
  background: none;
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: -1.8em;
  left: 1px;
}

/* SECTIONS */

section {
  color: #333;
  margin-bottom: 20px;
}

#content section:last-child {
  margin-bottom: 0px;
}

section h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

section h2 {
  font-weight: bold;
  margin-top: 1.0em;
}

section h3 {
  font-style: italic;
  margin-top: 1.5em;
}

#content {
  font-size: 1.2em;
}

/* section properties list */
section ol li:first-child { font-style: italic; }
section a[target=new] {
  background: url('../img/uparrow.gif') right 3px no-repeat;
  padding-right: 10px
}
